.center {
  text-align: center;
}

.m-auto {
  margin: 0 auto;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pr-20 {
  padding-right: 20px;
}

.p-20 {
  padding: 20px;
}